/* ============= MEDIA QUERIES ============= */

@media (max-width: 1600px) {
    img.img-attendant{
        width: 400px;
        height: 338px;
    }

    .text-content-container {
        margin: 7% 5% 7% 0;
    }
}

@media (max-width: 1440px) {
    section.ask-form-container{
        padding-top: 10%;
        padding-bottom: 5%;
    }

   img.img-attendant{
       width: 375px;
   }
}

@media (max-width: 1366px) {
    * {
        --fs-35: 3rem;
        --fs-20: 1.8rem;
        --fs-15: 1.4rem;
    }

    img.img-attendant{
        width: 338px;
        height: 338px;
    };

}

@media (max-width: 1200px) {
    img.img-attendant{
        width: 300px;
        height: 300px;
        margin-top: 25px;
    }
}

@media (max-width: 1140px) {
    * {
        --fs-16: 1.4rem;
    }

    .costumer-service-input {
        padding: 10px 5px;
    }

    img.img-attendant{
        width: 285px;
        height: 285px;
        margin-top: 10px;
    }

    .text-content-container {
        margin: 4% 3% 4% 0;
    }
}

@media (max-width: 1100px) {
    .left-container {
        padding-left: 8%;
    }
}