<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Augusto Araujo, Wesley Ferreira, Rodrigo Geraldes" />

        <!--Links para a fonte-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="./styles.css" />
        <link rel="stylesheet" type="text/css" href="../../global.css" />
    </head>
    <body>
        <header>
            <div class="logotype">
                <img src="img/logo.svg" alt="Logo tá agendado"/>
            </div>
            <div class="options">
                <a href="#">PERGUNTE AO ESPECIALISTA</a>
                <a href="#">SEGURANÇA DE DADOS</a>
                <a href="#">CONTATO</a>
                <a href="#">CADASTRE-SE</a>
                <a href="#">LOGIN</a>
            </div>
        </header>
    </body>
</html>