div.options {
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 1.5rem;

  text-align: center;
}

div.options a {
  margin: 0 20px;

  text-decoration: none;
  color: #000000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 32px 3.6% 24px 3.6%;
}

@media (max-width: 1370px) {
  header {
    padding: 20px 1% 15px 1%;
  }
}

@media (max-width: 1200px) {
  .logotype img {
    width: 200px;
  }

  div.options {
    font-size: 1.2rem;
  }
}