/* ============= MEDIA QUERIES ============= */

@media (max-width: 1800px) {
    h2.form-main-text{
        text-align: center;
        margin-bottom: 1%;
    }

    .login-info-container{
        padding: 2.2% 7%;
    }

    .info-stamps-container{
        margin-top: 15%;
    }

}

@media (max-width: 1440px) {
    .auth-btn{
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 14px;
    }

    .info-stamps-container{
        margin-top: 20%;
    }

    .stamp-image{
        width: 140px;
        height: 140px;
    }

    .checkbox-text{
        font-size: 14px;
    }

    .forgot-password{
        font-size: 14px;
    }
}

@media (max-width: 1360px) {
    .auth-btn{
        font-size: 10px;
    }

    .checkbox-text{
        text-align: center;
    }

    .forgot-password{
        text-align: center;
    }
}

@media (max-width: 1140px) {

}

@media (max-width: 1100px) {

}

@media (max-width: 1024px) {
    .stamp-image{
        height: 120px;
        width: 120px;
    }

    .stamp-text{
        font-size: 16px;
    }

    .info-sub-text{
        font-size: 20px;
    }

    .info-main-text{
        font-size: 35px;
    }

    .form-title-container{
        margin-top: 6vh;
    }

    .login-info-container {
        padding: 5% 7%;
    }
}