/* ============= HEADER ============= */

header .options {
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 1.5rem;

  text-align: center;
}

header .options a {
  margin: 0 20px;

  text-decoration: none;
  color: #000000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 32px 3.6% 24px 3.6%;
}

/* ============= FOOTER ============= */

footer .options{
  background-color: #525252;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 13.5%;
  padding-right: 7%;
  line-height: 25px;
  font-size: 15px;
}

footer .copyright{
    background-color: #363636;
    color: #ADADAD;
    font-size: 14px;
    padding: 16px;
    text-align: center;
}

footer p.listTitle{
    font-weight: bold;
    color: #ffffff;
}

footer p {
  color: #ffffff;
}

footer .options a{
    text-decoration: none;
    color: #ffffff;
}

a#seeAll{
    color: #86B9FF;
    font-style: italic;
}

img#imgGooglePlay{
    height: 46px;
    width: 156px;
}

/* ============= MAIN ============= */
section#sectionSearch{
    background-color: #2B8E91;
    padding: 7% 3% 7% 3%;

    position: relative;
}

section#sectionSearch h2{
    font-size: 4rem;
    color: #C4FDFF;
}

section#sectionSearch ul li{
    font-size: 21px;
    color: #ffffff;
    display: inline-block;

    margin-right: 30px;
}

section#sectionSearch ul{
    display: flex;

    margin-bottom: 3.8%;
}

section#sectionSearch form {
    display: flex;
}

section#sectionSearch form .search-input {
    border: none;
    border-radius: 10px;
  
    width: 442px;
    height: 56px;
  
    font-size: 14px;
    padding: 0 20px;
    margin: 0 10px
  }
  
section#sectionSearch form label {
    font-size: 15px;
  }
  
section#sectionSearch form .radio-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
    min-width: 100px;
    line-height: 19px;
    color: #FFFFFF;
  }
  
section#sectionSearch button {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
  
    padding: 10px 30px;
  
    cursor: pointer;
    color: #FFF;
    background-color: #9BD30F;
  }

#medicalGroup{
    position: absolute;
    right: 70px;
    bottom: 0;
    z-index: 0;
}

div.search{
    position: relative;
    z-index: 1;
}

section#medicalSpecialties h3 {
  color: #1560A0;
  font-size: 28px;
  padding-top: 4.7%;
  text-align: center;
}

div.specialties{
  padding: 0 15%;
}

.buttonZone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 25px;
  margin-top: 30px;
}

button.buttonSpecialties{
  background-color: #16688D;
  border-radius: 10px;
  color: #ffffff;
  height: 63px;
  font-size: 18px;
  margin-left: 2%;
  margin-bottom: 1%;
  border: 0;
}

div.specialties p{
  text-align: center;
}

div.benefitsContainer{
  display: flex;
  gap: 5%;

  padding-left: 13.7%;
  padding-right: 13.7%;
  padding-bottom: 3%;

  margin-top: 5%;
}

div.benefits{
  align-items: center;
  width: 90%;
  text-align: center;
}

.benefitsTitle{
  font-size: 1.7rem;
  line-height: 20px;
  font-weight: bold;
  color: #1560A0;

  margin: 18px 0;
}

.benefitsDetails{
  font-size: 14px !important;
  color: #525252 !important;
  line-height: 18px !important;
}

section#schedulingTutorial{
  background-color: #1560A0;
  display: flex;
  justify-content: space-between;

  padding: 0 13.6%;
}

div.schedulingTutorialContent{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: 10%;
  width: 38%;
}

h2.schedulingTutorialTitle{
  color: #86B9FF;
  font-size: 28px;
  font-weight: bold;
}

p.schedulingTutorialText{
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 50px;
  opacity: 90%;
}

button.schedulingButton{
  max-width: 50%;
  height: 54px;
  border-radius: 10px;
  background-color: #9BD30F;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 0;
}

section#specialtiesDetails{
  gap: 5%;
  display: flex;
  justify-content: center;

  padding: 0 14.3% 5% 14.3%;
}

div.selectedSpecialties{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  border: 1px solid #1560A0;
  border-radius: 10px;
  text-align: center;

  max-width: 395px;
  max-height: 600px;

  padding: 30px 30px;
  margin-top: 5%;
}

.selectedSpecialties img {
  max-width: 280px;
}

.selectedTitle{
  color: #1560A0;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.specialtiesDescription{
  color: #7C7C7C;
  font-size: 16px;
  line-height: 19px;
}

.schedulingSpecialties{
  background-color: #1560A0;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;

  padding: 1em 1em;
}

section#someSpecialties{
  background-color: #1560A0;
  display: flex;

  padding: 2% 14.3%;
}

div#allSpecialties{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 5% 0 5% 2%;
}

p#allSpecialtiesSubtitle{
  font-size: 1.6rem;
  line-height: 23px;
  color: #ffffff;
}

#specialtiesNames{
  color: white;
  font-size: 16px;
  line-height: 23px;
  padding-left: 20px;
}

.specialtiesListTitle{
  color: #86B9FF;
  font-size: 16px;
  line-height: 23px;
}

#specialtiesList{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

div#appPicture{
  float: right;
}

#onlineScheduling {
  display: flex;

  padding: 2% 14.3%;
}

#onlineSchedulingTitle{
  color: #1560A0;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
}

#onlineSchedulingText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 5% 8% 5% 0;
}

.appDownloadButton {
  margin-right: 3%;
  height: 46px;
  width: 156px;
}

.onlineSchedulingP{
  font-size: 16px;
  line-height: 19px;
  color: #525252;
}

.appButtonsContainer {
  display: flex;
}

section#newProfessionals{
  display: flex;
  justify-content: space-between;
  position: relative;

  background-color: #2B8E91;

  padding: 4% 13% 0 10%;
}

h2#newProfessionalsTitle{
  font-size: 38px;
  line-height: 47px;
  color: #B4FBFD;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: right;
}

#newProfessionalsText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 50%;
  padding: 0 0 3% 0;
}

.bePart{
  font-size:  1.6rem;
  line-height: 19px;
  color: #ffffff;
  text-align: right;
  
  margin-left: 15%;
  margin-bottom: 30px;
}

#connection{
  color: #B4FDFF;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 30px;
  text-align: right;
}

.NewProfessionalsButton{
  height: 56px;
  background-color: #FFFFFF;
  width: 37.7%;
  border-radius: 10px;
  color: #2B8E91;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

#testimonial{
  text-align: center;
  padding: 4% 9% 4% 9%;
}

#testimonialTitle{
  color: #5A5A5A;
  font-size: 28px;
  line-height: 34px;
}

#testimonials {
  display: flex;
  justify-content: center;
  gap: 100px;

  padding: 4% 0;
}

.testimonial-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;

  max-width: 475px;
}

.testimonial-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  box-shadow: 0px 0px 5px 0.5px  rgba(0, 0, 0, 0.2);
  text-align: left;

  padding: 20px;
}

.testimonial-title {
  font-size: 2rem;
  font-weight: 500;
  color: #1560A0;
}

.testimonial-text {
  font-size: 1.6rem;
  font-style: italic;
}

.testimonial-picture {
  grid-row-start: 1;
  grid-row-end: 2;

  max-height: 148px;

  box-shadow: 0px 0px 5px 0.5px  rgba(0, 0, 0, 0.2);
}

.testimonial-blank {
  grid-row-start: 2;
  grid-row-end: 3;
}

.pagination-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;

  border: 1px solid #525252;
  transition: 0.2s all linear;
  margin-right: 5px;
  background-color: #525252;

  position: relative;
  top: 4px;
}

.pagination-radio:checked {
  background-color: #FFF;
}