/* ============= HEADER ============= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 10.5%;

  background-color: #1560A0;
  color: #FFF;
}

.search-form {
  display: flex;
  justify-content: space-evenly;

  min-width: 65%;

  min-height: 3rem;
}

.search-input {
  border: none;
  border-radius: 10px;
  
  width: 28%;
  max-height: 5rem;

  font-size: 1.4rem;
  padding: 0 2rem;
  margin: 0 0.2rem;
}

.search-form .radio-label {
  font-size: 1.5rem;
}

.radio-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
}

.btn-search {
  border: none;
  border-radius: 10px;

  font-size: 1.6rem;
  font-weight: bold;

  padding: 1em 3em;

  cursor: pointer;
  color: #FFF;
  background-color: #9BD30F;
}

.user-container {
  display: flex;
  align-items: center;
}

.user-container .user-auth-button {
  text-decoration: none;
  color: #FFF;
  font-size: 1.4rem;
}

.user-container p {
  font-size: 1.4rem;
  margin: 0 0.5rem
}

/* ============= MAIN ============= */

.page-identifier-container {
  padding: 0 10.5%;
  margin-top: 2.2%;
}

.page-identifier {
  color: #8D8D8D;
  font-size: 1.4rem;
  font-weight: 500;
}

.main {
  display: flex;
  padding: 1% 10.5% 3% 10.5%;

  justify-content: space-between;
}

.doctor-details-container {
  max-width: 60%;
}

.schedule-container {
  max-width: 31%;
}


/* ============= HEADER DO DETALHAMENTO DO DOUTOR ============= */

.doctor-details-header {
  padding: 6% 0;
  display: flex;
}

.doctor-image-container {
  margin-left: 1rem;
  margin-right: 3.5%;
}

.doctor-header-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.doctor-name {
  font-size: 2.8rem;
  font-weight: bold;
}

.doctor-specialties {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 17px;
  color: #848484;
}

/* ============= RATING E BUTTONS ============= */

.doctor-header-bottom-container {
  display: flex;
  justify-content: space-between;
}

.doctor-rating {
  display: flex;
  align-items: flex-end;
}

.rating-counter {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #7B7B7B;
}

.schedule-appointment-btn {
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #2B8E91;
  border: solid 1px #2B8E91;
  border-radius: 1rem;
  cursor: pointer;

  padding: 1em 0.8em;
  margin-right: 1rem;
}

.see-phone-btn {
  font-size: 1.4rem;
  font-weight: bold;
  color: #2B8E91;
  background-color: transparent;
  border: solid 1px #2B8E91;
  border-radius: 1rem;
  cursor: pointer;

  padding: 1em 2em;
  margin-left: 1rem;
}

/* ============= EXPERIENCIA ACADÊMICA ============= */

.doctor-experience-container, .doctor-education-container {
  border-top: solid 1px #525252;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.doctor-experience-title, .doctor-education-title, .doctor-address-title, .doctor-feedback-title {
  font-size: 1.9rem;
  font-weight: bold;
  color: #2B8E91;
}

.doctor-experience-description, .doctor-education-description {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.3rem;
  color: #525252;

  margin-top: 0.5rem;
}

/* ============= ENDEREÇO ============= */

.doctor-address-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: solid 1px #525252;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.doctor-address-content {
  font-size: 1.6rem;
  font-weight: 500;
  color: #525252;

  margin-top: 0.5rem;
}

/* ============= OPINIAO DOS PACIENTES ============= */

.doctor-feedback-container {
  border-top: solid 1px #525252;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.doctor-feedback-counter {
  font-size: 1.5rem;
  font-weight: 500;
  color: #525252;

  margin-top: 0.5rem;
}

.feedback-comment-container {
  border: solid 1px #DBDBDB;
  background-color: #FAFAFA;

  padding: 2.5rem 1.5rem;
  margin-top: 3rem;
}

.feedback-comment-header {
  display: flex;
  align-items: center;
}

.comment-username {
  font-size: 1.8rem;
  font-weight: 500;
  color: #525252;
}

.comment-rating {
  margin-left: 18%;
}

.comment-date {
  font-size: 1.2rem;
  font-weight: 500;
  color: #525252;

  margin-top: 1rem;
}

.comment-content {
  font-size: 1.5rem;
  font-weight: 500;
  color: #707070;

  margin-top: 1rem;
}

/* ============= ASIDE SCHEDULE ============= */

.doctor-schedule-container {
  border: solid 1px #D6D6D6;
  border-radius: 5px;

  padding: 2rem 2rem;
  margin: 6% 0;
}

.schedule-grid-container {
  display: flex;
  justify-content: space-between;
}

.doctor-schedule-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  padding-bottom: 2.5rem;
  border-bottom: solid 1px #E8E8E8;
}

.day-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-title-weekday {
  font-size: 1.4rem;
  font-weight: 500;
}

.day-title-date {
  font-size: 1.2rem;
  font-weight: 500;
}

.time-available {
  border: none;
  color: #16688D;
  background-color: #B5DAEB;
  cursor: pointer;
  
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.time-unavailable-container {
  display: block;
  padding: 1.7rem;
  margin-top: 1.5rem;
}

.time-unavailable {
  border: solid 0.5px #A7A7A7;
  width: 100%;
}

.arrow-icon {
  align-self: flex-start;
  margin-top: 1rem;
}

.open-schedule-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.6rem;
  cursor: pointer;
}

.open-schedule-btn {
  background-color: transparent;
  border: none;

  color: #16688D;
  text-decoration: underline;

  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
}

/* ============= FOOTER ============= */

div.options{
  background-color: #525252;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 260px;
  padding-right: 135px;
  line-height: 25px;
  font-size: 15px;
}

div.copyright{
  background-color: #363636;
  color: #ADADAD;
  font-size: 14px;
  padding: 16px;
  text-align: center;
}

p{
  color: #ffffff;
}

footer p.listTitle{
  font-weight: bold;
}

footer a{
  text-decoration: none;
  color: #ffffff;
}

a#seeAll{
  color: #86B9FF;
  font-style: italic;
}
img#imgGooglePlay{
  height: 35px;
  width: 117px;
}
